<img style="width:100%;" src="http://static.buzznet.com/uploads/2013/03/orig-21185018.jpg"></img>
<h1 style="font-size:4.5em;color:white;position:absolute;top:5%;width:100%;text-align:center">
  The Opening Act Welcomes You.<br><br>Happy Programming!
</h1>
