<style>
img {
  width: 100%;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 4.5em;
  color: white;
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;

}
</style>

<img src="http://static.buzznet.com/uploads/2013/03/orig-21185018.jpg"></img>
<h1>The Opening Act Welcomes You.<br>Happy Programming!</h1>
